<!--Inicio Modal Nueva TipoPersona-->
<div id="modalnuevoTipoPersona" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;
                </button>
                <h4 class="modal-title">
                    Nueva Tipo de Persona
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="form-group">
                        <input id="NombreTipoPersona" name="NombreTipoPersona" type="text" placeholder="Ingrese Nombre Tipo de Persona" class="form-control" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpNuevoTipoPersona" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="agregarTipoPersona()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Nueva TipoPersona-->
