
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Unidad
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Unidad</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Unidad</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<div class="page-content">
    <div class="nav nav-tabs responsive">
        <div class="panel panel-grey">
            <div class="panel-heading" id="newbotton">
                <div class="col-sm-6 col-md-8">Listado de Productos</div>
                <div class="col-sm-3 col-md-2">
                    <a href="#" role="button" onclick="abrirFiltros();" data-target="" class="btn btn-info btn-sm btn-block">Filtro</a>
                </div>
                <div class="col-sm-3 col-md-2">
                    <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" href="#modalNuevoProducto">
                        Nuevo
                    </button>
                </div>

            </div>
            <div class="panel-body">
                <table id="tbProducto" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Unidad</th>
                            <th>Factor</th>
                            <th>Fecha Creación</th>
                            <th>Usuario</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="bodytbProducto">
                        <tr>
                            <td colspan="7">Seleccione filtros para realizar una búsqueda</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Inicio Modal Nuevo Producto-->
<div id="modalNuevoProducto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;
                </button>
                <h4 class="modal-title">
                    Nuevo Producto
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="codProductoNuevo" type="text" placeholder="Código Producto" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="nombreProductoNuevo" type="text" placeholder="Nombre Producto" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control">
                                <option>Seleccione Moneda</option>
                                <option value="design">S/.</option>
                                <option value="development">USD</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Seleccione Impuesto</option>
                                    <option value="design">IGV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="idLinea" type="hidden" class="form-control" />
                                <input id="nombreLinea" type="hidden" class="form-control" />
                                <input onkeyup="buscarLinea(event)" id="lineaProdNuevo" type="text" placeholder="Línea" class="form-control" autocomplete="off" />
                                <div class="divPredictivo" id="divPredictivoLinea">
                                    <div class="divPredictivob">
                                        <div class="divPredictivoa">
                                            <ul class="ulPredictivo" role="listbox" id="ulPredictivoLineaJRM"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="idMarca" type="hidden" class="form-control" />
                                <input id="nombreMarca" type="hidden" class="form-control" />
                                <input onkeyup="buscarMarca(event)" id="marcaProdNuevo" type="text" placeholder="Marca" class="form-control" autocomplete="off" />
                                <div class="divPredictivo" id="divPredictivoMarca">
                                    <div class="divPredictivob">
                                        <div class="divPredictivoa">
                                            <ul class="ulPredictivo" role="listbox" id="ulPredictivoMarcaJRM"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mbn">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-und" data-toggle="tab">Unidades</a></li>
                            <li><a href="#tab-alm" data-toggle="tab">Almacén</a></li>
                            <li><a href="#tab-prov" data-toggle="tab">Proveedor</a></li>
                        </ul>
                        <div id="generalTabContent" class="tab-content" style="padding:0px;">
                            <div id="tab-und" class="tab-pane fade in active">
                                <table id="tbProductoUnidad" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Unidad</th>
                                            <th>Factor</th>
                                            <th>Und Base</th>
                                            <th>Und Venta</th>
                                            <th>Estado</th>
                                            <th>Quitar</th>
                                            <th style="display:none">IdUnidad</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodytbProductoUnidad">
                                        <tr>
                                            <td colspan="6">Agregue unidades</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row mbl">
                                    <div class="col-lg-6">
                                        <a onclick="abrirListaunidades();" href="#" class="btn btn-success btn-sm mlm mrm">
                                            <i class="fa fa-plus"></i>&nbsp;
                                            Agregar Unidades
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-alm" class="tab-pane fade in">
                                <table id="tbProductoAlmacen" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sucursal</th>
                                            <th>Almacén</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodytbProductoAlmacen">
                                        <tr>
                                            <td colspan="7">Seleccione filtros para realizar una búsqueda</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab-prov" class="tab-pane fade in">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpUnidad" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="agregarUnidad()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Nuevo Producto-->

<div id="ModalAgregarNombre" class="modal fade" style="top:15%; left:20%">
    <div class="modal-dialog">
        <div class="modal-content" style="width:50%;">
            <div class="modal-header">
                <h4 class="modal-title">
                    Lista Unidades
                </h4>
            </div>
            <div class="modal-body">
                <div style="height:250px; overflow-y: scroll;">
                    <table id="tbUnidad" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre Unidad</th>
                                <th>Factor</th>
                                <th style="display:none">Id</th>
                            </tr>
                        </thead>
                        <tbody id="bodytbUnidad">
                            @*<tr>
                            <td colspan="3">Cargando..</td>
                        </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="agregarProductoUnidad()" class="btn btn-success">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/script/Page/Producto.js"></script>

<style>
    .divPredictivo {
        min-width: 89%;
        position: absolute;
        text-align: left;
        display: none;
        z-index: 1001;
    }

        .divPredictivo .divPredictivob {
            border: none;
            border-radius: 24px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            box-shadow: 0 4px 6px 0 rgba(32,33,36,.28);
        }

    .divPredictivoa {
        border-radius: 24px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        padding-bottom: 4px;
        background: #fff;
    }

    .ulPredictivo {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .liPredictivo {
        text-align: left;
        padding: 0;
    }

        .liPredictivo .lidivPredictivo {
            cursor: pointer;
            padding: 1px 12px;
            font-size: 14px;
            line-height: 1.42857143;
        }

    .lidivPredictivo:hover {
        background: Gray;
    }
</style>