<!--Inicio Modal Editar-->
<div id="modalEditarTipoTienda" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;
                </button>
                <h4 class="modal-title">
                    Editar TipoTienda
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="form-group">
                        <input id="idTipoTiendaEditar" name="idTipoTiendaEditar" type="hidden" placeholder="Ingrese Nombre TipoTienda" class="form-control" />
                        <input id="NombreTipoTiendaEditar" name="NombreTipoTiendaEditar" type="text" placeholder="Ingrese Nombre TipoTienda" class="form-control" autocomplete="off"/>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpEditarTipoTienda" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="editarTipoTienda()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Editar-->
