<!--Inicio Modal Editar-->
<div id="modalEditarProveedor" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;
                </button>
                <h4 class="modal-title">
                    Editar Proveedor
                </h4>
            </div>
            <div class="modal-body">
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="idProveedorEditar" type="hidden" required />
                                    <input id="numDocumentoEditar" type="text" placeholder="Ingrese Num. Doc." class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select id="idTipoPersonaEditar" class="form-control">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.IdTipoPersona">@item.NombreTipoPersona</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="NombreProveedorEditar" name="NombreProveedorEditar" type="text" placeholder="Ingrese Nombre Proveedor" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input id="DireccionProveedorEditar" name="DireccionProveedorEditar" type="text" placeholder="Ingrese Dirección Proveedor" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="nombreContactoEditar" type="text" placeholder="Ingrese Nombre Contacto" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="numeroContactoEditar" type="text" placeholder="Ingrese Número Contacto" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpProveedor" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="editarProveedor()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Editar-->
