@*@using Entidad
@model List<LineaCLS>*@
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
	<div class="page-header pull-left">
		<div class="page-title">
			Linea
		</div>
	</div>
	<ol class="breadcrumb page-breadcrumb pull-right">
		<li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
		<li class="hidden"><a href="#">Linea</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
		<li class="active">Linea</li>
	</ol>
	<div class="clearfix">
	</div>
</div>
<div class="page-content">
	<div class="nav nav-tabs responsive">
		<div class="panel panel-grey">
			<div class="panel-heading" id="newbotton">
				<div class="col-sm-6 col-md-8">Listado de Linea</div>
				<div class="col-sm-3 col-md-2">
					<a href="#" role="button" onclick="abrirFiltros();" data-target="" class="btn btn-info btn-sm btn-block">Filtro</a>
				</div>
				<div class="col-sm-3 col-md-2">
					<button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#modal-nuevo">
						Nuevo
					</button>
				</div>

			</div>
			<div class="panel-body">
				<table id="tbLinea" class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre Linea</th>
							<th>Fecha Creación</th>
							<th>Usuario</th>
							<th>Estado</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody id="bodytbLinea">
						<tr>
							<td colspan="7">Seleccione filtros para realizar una búsqueda</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<!--Inicio Modal Nueva Linea-->
	<div id="modal-nuevo" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-hidden="true" class="close">
						&times;
					</button>
					<h4 class="modal-title">
						Nueva Linea
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-body pal">
						<div class="form-group">
							<input id="NombreLinea" name="NombreLinea" type="text" placeholder="Ingrese Nombre Linea" class="form-control" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="CerrarPopUpLinea" data-dismiss="modal" class="btn btn-danger">
						Cancelar
					</button>
					<button type="button" onclick="agregarLinea()" class="btn btn-primary">
						Guardar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--Fin Modal Nueva Linea-->
	<!--Inicio Modal Filtros-->
	<div id="modalFiltros" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-hidden="true" class="close">
						&times;
					</button>
					<h4 class="modal-title">
						Filtros
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-body pal">
						<div class="form-group">
							<input id="NombreLineaFiltro" name="NombreLineaFiltro" type="text" placeholder="Ingrese Nombre Linea" class="form-control" />
						</div>
						<div class="form-group">
							<div class="radio-container">
								<input type="radio" name="estado" id="todos" checked value="2" />
								<label for="todos">Todos los Estados</label>
								<input type="radio" name="estado" id="activos" value="1" />
								<label for="activos">Estado Activado</label>
								<input type="radio" name="estado" id="inactivos" value="0" />
								<label for="inactivos">Estado Desactivado</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="CerrarPopUpFiltros" data-dismiss="modal" class="btn btn-danger">
						Cancelar
					</button>
					<button type="button" onclick="cargarTablaLinea()" class="btn btn-primary">
						Filtrar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--Fin Modal Filtros-->
	<!--Inicio Modal Editar-->
	<div id="modalEditar" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-hidden="true" class="close">
						&times;
					</button>
					<h4 class="modal-title">
						Editar Linea
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-body pal">
						<div class="form-group">
							<input id="idLineaEditar" name="idLineaEditar" type="hidden" placeholder="Ingrese Nombre Linea" class="form-control" />
							<input id="NombreLineaEditar" name="NombreLineaEditar" type="text" placeholder="Ingrese Nombre Linea" class="form-control" />
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="CerrarPopUpLinea" data-dismiss="modal" class="btn btn-danger">
						Cancelar
					</button>
					<button type="button" onclick="editarLinea()" class="btn btn-primary">
						Guardar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--Fin Modal Editar-->

</div>

<script src="~/Content/script/Páginas/Linea.js"></script>

<style>
	/*Radio Buttons*/
	.radio-container {
		font-size: 20px;
		padding: 8px;
	}

	input[type="radio"] {
		display: none;
	}

	label {
		color: #808080;
		background: rgba(0,0,0,.1);
		padding: 5px 15px 5px 36px;
		display: inline-block;
		position: relative;
		font-size: 12px;
		border-radius: 3px;
		cursor: pointer;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

		label:hover {
			background: rgba(0,116,217, 0.2);
		}

		label:before {
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			background: none;
			border: 3px solid #808080;
			border-radius: 50%;
			position: absolute;
			left: 12px;
			top: 8px;
		}

	input[type="radio"]:checked + label {
		padding: 5px 15px;
		background: #808080;
		border-radius: 2px;
		color: #fff;
	}

		input[type="radio"]:checked + label:before {
			display: none;
		}

	/*Radio Buttons*/
</style>

