<!--Inicio Modal Nueva Marca-->
<div id="modalNuevaMarca" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    &times;
                </button>
                <h4 class="modal-title">
                    Nueva Marca
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-body pal">
                    <div class="form-group">
                        <input id="NombreMarca" name="NombreMarca" type="text" placeholder="Ingrese Nombre Marca" class="form-control"  autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="CerrarPopUpMarca" data-dismiss="modal" class="btn btn-danger">
                    Cancelar
                </button>
                <button type="button" onclick="agregarMarca()" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Nueva Marca-->
